body {
	background: url(../img/index/jpg/accueil.jpg) no-repeat top center;
}

/* ===========================
--- Intro
============================ */

.intro {
	width:100%;
	position:relative;
    background-size: cover;
    height: auto;
}

#intro.intro {
	padding:20% 0 0 0;
}

.intro .slogan {
	text-align: center;

}

.intro .page-scroll {
	text-align: center;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

.intro .slogan h2 {
	color: #FFF;
	text-shadow: none;
	font-size: 100px;
	line-height: 90px;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	text-transform: uppercase;
	border-width: 0px;
	border-color: #000;
	border-style: none;
	text-shadow: -6px 0 9px #000;
    }

.intro .slogan h4 {
	color: #FFF;
	text-shadow: -1px 1px 1px #FFF;
}

@media (max-width: 768px) {
  .intro .slogan h2 {
    font-size: 48px;
  }
}

@media (max-width: 600px) {
  .intro .slogan h2 {
    font-size: 36px;
  }
}


/* ===========================
--- Footer
============================ */

footer {
	text-align: center;
	padding: 50px 0 ;

}

footer p {
	color: #f8f8f8;
}

.credits, .credits a {
    color: #fff;
}


.navbar-custom ul.nav li a {
	font-size: 12px;
    letter-spacing: 1px;
    color: #444;
    text-transform: uppercase;
    font-weight: 700;
}

.nav.navbar-nav {
	background-color: rgba(255,255,255,.4);
	float: right;
    display: inline;
    margin-top: 20px;
}