h2, legend {
	text-align: center;
}

.table.table-striped {
	margin-top: 20px;
}

.pagination {
	float: right;
	margin-right: 50px;
}

.form-ajout {
  margin:auto;
  margin-top: 20px;
  width: 100%;
}

.form-control {
  margin-top: 15px;
}

.btn-ajoutrnedpat {
  margin-top: 20px;
  text-transform: uppercase;
}